{% extends "base.cpp.j2" %}

{# naive mmm implementation with configurable variables #}

{% block mmm_loop %}
for (int {{ var1 }} = 0; {{ var1 }} < N; {{ var1 }}++) {
    for (int {{ var2 }} = 0; {{ var2 }} < N; {{ var2 }}++) {
        for (int {{ var3 }} = 0; {{ var3 }} < N; {{ var3 }}++) {
            C[i][j] += A[i][k] * B[k][j];
        }
    }
}
{% endblock %}
